---
import BaseLayout from "../layouts/BaseLayout.astro";
const articles = await Astro.glob("../pages/journal/*/*.md");

const pageTitle = "JOURNAL";
---

<BaseLayout pageTitle={pageTitle}>
    <ul class="random">
        {
            articles.map((article) => (
                <li>
                    <a href={article.url}>{article.frontmatter.title}</a>
                </li>
            ))
        }
    </ul>
    <ul>
        <li>coucou</li>
        <li>mmmm</li>
    </ul>
</BaseLayout>
