---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "JOURNAL";
---
<BaseLayout pageTitle={pageTitle}>
    <a href="../journal/naissanceBaR/">Naissance de la Boîte à Rêves</a><br>
    <a href="../journal/naissanceR3T/">Naissance de la Rencontre du 3ème Type</a>
</BaseLayout>
