<footer>
<script type="text/javascript">var pleaseEnter = "Écrit ton mail ici !"; </script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/phplist/phplist-subscribe-0.2.min.js"></script>

<div id="phplistsubscriberesult">
    <script type="text/javascript">var thanksForSubscribing = '<div class="subscribed">TOP TOP,  À TOUT VITE !</div>'; </script>
</div>

<form style="margin-top:100%"action="https://mafprod.hosted.phplist.com/lists/?p=subscribe&id=Newsletter" method="post" id="phplistsubscribeform">
<label>INSCRIPTION À LA NEWSLETTER</label>
<span style="float: right">
    <input type="text" name="email" value="" id="emailaddress" />
<button type="submit" id="phplistsubscribe">ENVOYER</button>
</span>
</form>
  
</footer>