---
---
<header>
  <nav>
    <a href="/">≈ MàF</a>
    <span style="float: right" class="navigation">
        <a href="/infos/">INFOS</a>
        <a href="/journal/">JOURNAL</a>
    </span>
  </nav>
</header>